{% extends 'recommenderapp/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block css %}
         body{
                background: -webkit-linear-gradient(left, #8d021f, #00c6ff);
         }
         body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }
         .wrapper{
           margin-bottom:200px;
         }
         h3{
           font-family:Times new roman;
         }

{% endblock %}
{% block content %}
<br>
<br>
<center><div>
    <form autocomplete="off" method="post"> {%csrf_token%}
        <div class="autocomplete" style="width: 300px;">
            <table>
                <tr>
                     {{search}}
                    {% if search %}
                    <td><input id="" type="text"
                               placeholder="Search Movie" name="searchmovie" value="{{parama}}" required></td>
                    {% else %}
                    <td><input id="myInput" type="text"
                               placeholder="Search Movie" name="searchmovie" required></td>
                    {% endif %}
                    <td><input type="submit" value="search"></td>
                </tr>
            </table>
        </div>
    </form>
</div></center>

<br><br>
 {% if recommended %}
<section class="container" >

			<div class="col">
				<center><h3> Searched Movie </h3></center>
					<div class="container">
                            <div class="card rounded mb-3" >
  <div class="row g-0" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');">
    <div class="col-md-4">
        <input type="image" src="https://image.tmdb.org/t/p/w500/{{recommended.0.image}}" alt="{{ 0.title }}" width="400" height="400" class="card-img-top">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <br>
          <br>
        <h1 class="card-title">Movie Name :: {{recommended.0.title}}</h1>
          <p>Genres :: {{recommended.0.genres}}</p>
          <p>Cast :: {{recommended.0.cast}}</p>
      </div>
    </div>
  </div>
</div>
                        <center> <h3> Recommended Movies </h3></center>
                        <div class="row row-cols-1 row-cols-lg-3 g-2 g-lg">
						{% for i in recommended|slice:"1:" %}
                            <form method="post"> {% csrf_token %}
                                    <div class="card rounded" style="width: 18rem;">
                                        <input type="image" src="https://image.tmdb.org/t/p/w500/{{i.image}}" alt="{{ i.title }}" width="40" height="400" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">{{i.title}}</h5>
                                            <p class="card-title">{{i.genres}}</p>
                                            <input type="hidden" value="{{i.title}}" name="searchmovie">
                                        </div>
                                    </div>
                                </form>
                            {% endfor %}
						</div>
					</div>
			</div>
</section>
{% endif %}
<script>
//javascript
  function autocomplete(inp, arr) {

	var currentFocus;
	inp.addEventListener("input",
				function(e) {
						var a, b, i, val = this.value;
						/*close any already open lists of autocompleted values*/
						closeAllLists();
						if (!val) {
							return false;
						}
						currentFocus = -1;
						/*create a DIV element that will contain the items (values):*/
						a = document.createElement("DIV");
						a.setAttribute("id", this.id
								+ "autocomplete-list");
						a.setAttribute("class", "autocomplete-items");
						/*append the DIV element as a child of the autocomplete container:*/
						this.parentNode.appendChild(a);
						/*for each item in the array...*/
						for (i = 0; i < arr.length; i++) {
							/*check if the item starts with the same letters as the text field value:*/
							if (arr[i].substr(0, val.length)
									.toUpperCase() == val.toUpperCase()) {
								/*create a DIV element for each matching element:*/
								b = document.createElement("DIV");
								/*make the matching letters bold:*/
								b.innerHTML = "<strong>"
										+ arr[i].substr(0, val.length)
										+ "</strong>";
								b.innerHTML += arr[i]
										.substr(val.length);
								/*insert a input field that will hold the current array item's value:*/
								b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
								/*execute a function when someone clicks on the item value (DIV element):*/
								b
										.addEventListener(
												"click",
												function(e) {
													/*insert the value for the autocomplete text field:*/
													inp.value = this
															.getElementsByTagName("input")[0].value;
													/*close the list of autocompleted values,
													(or any other open lists of autocompleted values:*/
													closeAllLists();
												});
								a.appendChild(b);
							}
						}
					});
	inp.addEventListener("keydown", function(e) {
		var x = document.getElementById(this.id + "autocomplete-list");
		if (x)
			x = x.getElementsByTagName("div");
		if (e.keyCode == 40) {
			currentFocus++;
			addActive(x);
		} else if (e.keyCode == 38) {
			currentFocus--;
			addActive(x);
		} else if (e.keyCode == 13) {
			e.preventDefault();
			if (currentFocus > -1) {
				if (x)
					x[currentFocus].click();
			}
		}
	});
	function addActive(x) {
		if (!x)
			return false;
		removeActive(x);
		if (currentFocus >= x.length)
			currentFocus = 0;
		if (currentFocus < 0)
			currentFocus = (x.length - 1);
		x[currentFocus].classList.add("autocomplete-active");
	}
	function removeActive(x) {
		for (var i = 0; i < x.length; i++) {
			x[i].classList.remove("autocomplete-active");
		}
	}
	function closeAllLists(elmnt) {
		var x = document.getElementsByClassName("autocomplete-items");
		for (var i = 0; i < x.length; i++) {
			if (elmnt != x[i] && elmnt != inp) {
				x[i].parentNode.removeChild(x[i]);
			}
		}
	}
	document.addEventListener("click", function(e) {
		closeAllLists(e.target);
	});
}
var movies = [];

<!--all movies which are in dataset will be fetched here and recommended in search bar-->

{% if movie %}
console.log("hello")
{% for i in movie %}
movies.push("{{i}}");
{% endfor %}
{% endif %}

console.log(movies);
autocomplete(document.getElementById("myInput"), movies);
</script>

{% endblock %}
