{% extends 'recommenderapp/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block css %}
         body{
                background: -webkit-linear-gradient(left, #3931af, #00c6ff);
                font-family: Times New Roman;
         }
         body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }
         .wrapper{
           margin-bottom:200px;
         }
         h3{
           font-family:Times new roman;
         }
{% endblock %}
{% block content %}
<br>
<br>
<center><div>
    <form autocomplete="off" method="post"> {%csrf_token%}
        <div class="autocomplete" style="width: 300px;">
            <table>
                <tr>
                    <td><input id="myInput" type="text"
                               placeholder="Search Movie" name="searchmovie" required></td>
                    <td><input type="submit" value="search"></td>
                </tr>
            </table>
        </div>
    </form>
</div></center>

<br><br>
 {% if recommended %}
<section class="container" >
	<div class="container px-4">
		<div class="row gx-5">
			<div class="col">
				<div class="p-3 border bg-light">

				<h3> Searched Movie </h3>
					<div class="container">
                        <center>
                        <div class="col">
                            <div class="p-3 border bg-light">
                                <div class="card" style="width: 18rem;">
<!--                                    using api of tmd and fetching movie posters-->
<img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{recommended.0.image}}" alt="Card image cap" height="300px" width="200px">
                                    <div class="card-body">
                                        <h5 class="card-title"> Movie Name :: {{recommended.0.title}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                            </center>
                        <center> <h3> Recommended Movies </h3></center>
						<div class="row row-cols-2 row-cols-lg-3 g-2 g-lg">
						{% for i in recommended|slice:"1:" %}
                            <div class="col">
                                <div class="p-3 border bg-light">
                                    <div class="card" style="width: 18rem;">
<img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{i.image}}"  alt="Card image cap" height="300px" width="200px">
                                        <div class="card-body">
                                            <h5 class="card-title"> Movie Name :: {{i.title}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}
<script>
//javascript
  function autocomplete(inp, arr) {

	var currentFocus;
	inp.addEventListener("input",
				function(e) {
						var a, b, i, val = this.value;
						/*close any already open lists of autocompleted values*/
						closeAllLists();
						if (!val) {
							return false;
						}
						currentFocus = -1;
						/*create a DIV element that will contain the items (values):*/
						a = document.createElement("DIV");
						a.setAttribute("id", this.id
								+ "autocomplete-list");
						a.setAttribute("class", "autocomplete-items");
						/*append the DIV element as a child of the autocomplete container:*/
						this.parentNode.appendChild(a);
						/*for each item in the array...*/
						for (i = 0; i < arr.length; i++) {
							/*check if the item starts with the same letters as the text field value:*/
							if (arr[i].substr(0, val.length)
									.toUpperCase() == val.toUpperCase()) {
								/*create a DIV element for each matching element:*/
								b = document.createElement("DIV");
								/*make the matching letters bold:*/
								b.innerHTML = "<strong>"
										+ arr[i].substr(0, val.length)
										+ "</strong>";
								b.innerHTML += arr[i]
										.substr(val.length);
								/*insert a input field that will hold the current array item's value:*/
								b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
								/*execute a function when someone clicks on the item value (DIV element):*/
								b
										.addEventListener(
												"click",
												function(e) {
													/*insert the value for the autocomplete text field:*/
													inp.value = this
															.getElementsByTagName("input")[0].value;
													/*close the list of autocompleted values,
													(or any other open lists of autocompleted values:*/
													closeAllLists();
												});
								a.appendChild(b);
							}
						}
					});
	inp.addEventListener("keydown", function(e) {
		var x = document.getElementById(this.id + "autocomplete-list");
		if (x)
			x = x.getElementsByTagName("div");
		if (e.keyCode == 40) {
			currentFocus++;
			addActive(x);
		} else if (e.keyCode == 38) {
			currentFocus--;
			addActive(x);
		} else if (e.keyCode == 13) {
			e.preventDefault();
			if (currentFocus > -1) {
				if (x)
					x[currentFocus].click();
			}
		}
	});
	function addActive(x) {
		if (!x)
			return false;
		removeActive(x);
		if (currentFocus >= x.length)
			currentFocus = 0;
		if (currentFocus < 0)
			currentFocus = (x.length - 1);
		x[currentFocus].classList.add("autocomplete-active");
	}
	function removeActive(x) {
		for (var i = 0; i < x.length; i++) {
			x[i].classList.remove("autocomplete-active");
		}
	}
	function closeAllLists(elmnt) {
		var x = document.getElementsByClassName("autocomplete-items");
		for (var i = 0; i < x.length; i++) {
			if (elmnt != x[i] && elmnt != inp) {
				x[i].parentNode.removeChild(x[i]);
			}
		}
	}
	document.addEventListener("click", function(e) {
		closeAllLists(e.target);
	});
}
var movies = [];

<!--all movies which are in dataset will be fetched here and recommended in search bar-->

{% if movie %}
console.log("hello")
{% for i in movie %}
movies.push("{{i}}");
{% endfor %}
{% endif %}

console.log(movies);
autocomplete(document.getElementById("myInput"), movies);
</script>

{% endblock %}
