{% extends 'recommenderapp/base.html' %}
{% block title %}History{% endblock title %}
{% block css %}
           body{
                background: -webkit-linear-gradient(left, #3931af, #00c6ff);
                font-family:Times new Roman;
           }

 {% endblock %}

{% block content %}
<br><br>
<section class="container" >
	<div class="container px-4">

		<div class="row gx-5">
			<div class="col">

				<div class="p-3 border bg-light">
                    {% if history %}
                        <center> <h3> History </h3></center>

						<div class="row row-cols-2 row-cols-lg-3 g-2 g-lg">
						{% for i in history %}
									<div class="col">
										<div class="p-3 border bg-light">
											<div class="card" style="width: 18rem;">
													<h5 class="card-title">{{i}}</h5>
                                            </div>
                                        </div>
                                    </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if history|length <= 0 %}
                    <center> <h3> Nothing to Show </h3></center>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

 {% endblock content %}