{% extends 'recommenderapp/base.html' %}
{% block title %}History{% endblock title %}
{% block css %}
           body{
                background: -webkit-linear-gradient(left, #8d021f, #00c6ff);
           }
h3{
color:black;
}

 {% endblock %}

{% block content %}
<br><br>
<section class="container" >
	<div class="container px-100">

		<div class="row gx-5">
			<div class="col">
				<div class="p-3 border bg-light">
                    {% if history %}
                       <form method="post"> {% csrf_token %}
                           <input type="submit" value="clear history">
                       </form>
                        <center> <h3 style="color:black;"> History </h3></center>
						<div class="row row-cols-1 row-cols-lg-2 g-2 g-lg">
						{% for i in history %}
									<div class="col">
										<div class="p-3 border bg-light">
											<div class="card" style="width: 18rem;">
													<h5 class="card-title">{{i}}</h5>
                                            </div>
                                        </div>
                                    </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if history|length <= 0 %}
                    <center> <h3 style="color:black;"> Nothing to Show </></center>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

 {% endblock content %}