{% extends 'recommenderapp/base.html' %}
{% block title %}Home{% endblock title %}
{% block css %}
           body{
                background: -webkit-linear-gradient(left, #3931af, #00c6ff);
           }
          .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }

          .carousel-indicators .active {
          background-color: blue;
          }

          .col-md-3 img{
          width: 170px;
          height: 200px;
          }

          body .carousel-indicator li{
          background-color: blue;
          }

          body .carousel-indicators{
          bottom: 0;
          }

          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }

          .carousel-control-prev,
          .carousel-control-next{
          top: auto;
          bottom: auto;
          padding-top: 222px;
          }
        body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }

        .wrapper{

        margin-bottom:200px;
        }

 {% endblock %}

{% block content %}
<br><br>

  {% if recommended %}
          <h3> Recommended Movies </h3>

<div class="container">
  <div class="row row-cols-3">
      {% for i in recommended|slice:"0:"%}
    <div class="card" style="width: 15rem; ">
             <img class="card-img-top" src="{{i.image.url}}"  alt="Card image cap" height="300px" width="200px">
                     <div class="card-body">
                        <h5 class="card-title">{{i.title}}</h5>
                     </div>
          </div>
      {% endfor %}
  </div>
</div>
<div style="display:flex; justify-content:center; align-items:center">

</div>

  {% endif %}
    <!--Slideshow starts here -->

<div class="row">
    <div id="demo" class="col carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
       {% for i in movie.0.range %}
      <li data-target="#demo" data-slide-to="{{i}}" ></li>
      {% endfor %}
    </ul>

    <div class="container carousel-inner no-padding">
      <div class="carousel-item active">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 15rem">
             <img class="card-img-top" src="{{movie.0.image.0}}"  alt="Card image cap" height="300px" width="200px">
                      <div class="card-body">
                        <h5 class="card-title">{{movie.0.movie.0.title}}</h5>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">{{movie.0.movie.0.genres}}</small>
                     </div>
              <div class="card-footer">
                        <small class="text-muted">{{movie.0.movie.0.popularity}}</small>
                     </div>
          </div>
       </div>



        {% for i in movie.0.movie|slice:"1:"%}
        <div class="col-xs-3 col-sm-3 col-md-3">
         <div class="card" style="width: 15rem">
             <img class="card-img-top" src="{{i.image.url}}"  alt="Card image cap" height="300px" width="200px">
                     <div class="card-body">
                        <h5 class="card-title">{{i.title}}</h5>
                     </div>
                     <div class="card-footer">
                        <small class="text-muted">{{i.genres}}</small>
                     </div>
                     <div class="card-footer">
                        <small class="text-muted">{{i.popularity}}</small>
                     </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
      </div><div class="carousel-item ">
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>
    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>


 {% endblock content %}