{% extends 'recommenderapp/base.html' %}
{% block title %}Home{% endblock title %}
{% block css %}
           body{
                background: -webkit-linear-gradient(left, #3931af, #00c6ff);
                font-family:Times new Roman;
           }
 {% endblock %}
{% block content %}
<br><br>
<section class="container" >
	<div class="container px-4">
		<div class="row gx-5">
			<div class="col">
				<div class="p-3 border bg-light">
				 {% if popular %}
                        <center> <h3> Popular Movies </h3></center>
						<div class="row row-cols-2 row-cols-lg-3 g-2 g-lg">
						{% for i in popular|slice:"0:6"%}
									<div class="col">
										<div class="p-3 border bg-light">
											<div class="card" style="width: 18rem;">
<img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{i.image}}"  alt="Card image cap" height="300px" width="200px">
                                                <div class="card-body">
													<h5 class="card-title"> Movie Name :: {{i.title}}</h5>
												</div>
											</div>
										</div>
									</div>
							{% endfor %}
						</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
 {% endblock content %}